


.navbar-container {
    display: flex;
    background: #dfe6e9;
    height:6rem;
    justify-content: space-between; /* Distribute items along the main axis with maximum space between them */
    align-items: center; /* Center items vertically */
    padding-top:0.5rem;
    padding-bottom:0.5rem;
  }
  
  .navbar-header {
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .itnav{
    font-size: 25px;
    background-color: rgb(235, 11, 216);
    padding:0.3rem;
    border-radius: 6px;
    transform: rotateX('5deg');
    font-family: Roboto,Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .logo {
    border-radius: 50px;
    width:250px;
    height:130px;
    border-radius: 0.5rem;
    margin-bottom:0.7rem;
    margin-right: 0.5rem;
  }
  
  .navbar-title {
    margin: 0;
    color:white;
    text-align:center;
    text-decoration: underline dotted yellowgreen;
    font-size: 20px;
  }
  